{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*entity.ts"],
      "options": {
        "printWidth": 160
      }
    },
    {
      "files": ["*controller.ts"],
      "options": {
        "printWidth": 180
      }
    }
  ]
}
